{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'My Signatures' %}
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="{{STATIC_URL}}person/js/signatures.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}petition/js/petition.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row-fluid">
        <h1>{% trans 'My Signatures' %}</h1>

        <table id="signaturesa" class="datatable">
            <thead>
                <tr>
                    <th class="align-left">{% trans "Petition" %}</th>
                    <th>{% trans "Date Signed" %}</th>
                    <th class="align-center">{% trans "Visible" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for signature in signatures %}
                <tr data-id="{{ signature.id }}">
                    <td><a href="/frumvarp/{{ signature.petition.id }}/">{{ signature.petition }}</a></td>
                    <td>{{ signature.date_created|date:"DATE_FORMAT" }}</td>
                    <td class="align-right">
                        <span class="pseudo_checkbox_yes" {% if not signature.show_public %}style="display: none;"{% endif %}>{% trans 'Yes' %}</span>
                        <span class="pseudo_checkbox_no" {% if signature.show_public %}style="display: none;" {% endif %}>{% trans 'No' %}</span>
                        [ <a class="change-public" data-show-public="{{ signature.show_public|yesno:"yes,no" }}" href="/undirskriftir/breyta-opinber/{{ signature.id }}/">{% trans 'Change' %}</a> ]
                    </td>
                    <td>
                        <!--
                        {% with p=signature.petition %}
                        {% include 'stub/unsign_button.html' %}
                        {% endwith %}
                        -->
                        [ <a class="remove-signature" data-method="browser-confirm" href="/undirskriftir/fjarlaegja/{{signature.id}}/?next=%2Fperson%2Fsignatures%2F">{% trans "Remove" %}</a> ]
                    </td>
                </tr>
                {% empty %}
                <tr><td class="align-center" colspan="4">{% trans 'No signatures yet!' %}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
