{% extends "base.html" %}

{% block content %}

<!-- It makes no sense to translate this manually. -->

<div class="container-fluid">

	<h3>Hvað er Öryggisventill?</h3>
	<p>Öryggisventill er hugbúnaður úr hugsmiðju <a target="_blank" href="http://piratar.is">Pírata</a> sem veitir einfalda og örugga leið til undirskriftasafnana gegn lagafrumvörpum sem lögð hafa verið fram á yfirstandandi þingi Alþingis.</p>

	<p>Verkefnið er liður í baráttu Pírata fyrir lýðræðisvæðingu á Íslandi.</p>

	<h3>Svona virkar hann</h3>
	<p>Öryggisventill niðurhalar sjálfkrafa gögnum um lagafrumvörp sem hafa verið lögð fram á yfirstandandi þingi. Almenningi gefst því kostur á að hefja undirskriftasöfnun gegn setningu hverra laga um leið og umræða um þau birtast á vef Alþingis.</p>

	<p>Ef notandi vill skrifa undir mótmæli gegn lögum smellir hann á takkann "bæta við undirskrift" og staðfestir skráningu sína með svokölluðum <a href="http://www.island.is/islykill/">Íslykli</a>, en hann er meðal annars notaður til að skila skattaskýrslum.</p>

	<p>Eigi notandi ekki nú þegar Íslykil má fá slíkan sendan í heimabanka á <a target="_blank" href="https://innskraning.island.is/Order.aspx">skráningarsíðu Íslands.is</a>. Hægt er að fá Íslykil sendan í bréfpósti handa þeim sem hafa þolinmæði í stað heimabanka.</p>

	<h4>Hví þarf auðkenningu við hverja undirskrift?</h4>
	<p>Til þess að tryggja trúverðugleika hverrar undirskriftar þurfum við svokallaðan "tóka" frá <a target="_blank" href="http://island.is">Íslandi.is</a> við auðkenningu, en hann er einskonar kvittun fyrir auðkenningu sem við notum til að sanna lögmæti hverrar undirskriftar. Þó þarf ekki að auðkenna sig sérstaklega til þess að afmá undirskrift ef maður hefur þegar auðkennt sig inn í kerfið.</p>

	<h3>Um Íslykilinn</h3>
	<p>Íslykillinn er opinber raflykill til undirritunar opinberra skjala, til dæmis við skráningu í trú- og lífsskoðunarfélög og skilum á skattaskýrslum. Með því að nýtast við þessa tækni er okkur kleyft að öðlast lögmæti við rafræna undirskriftasöfnun sem áður var ekki möguleg.</p>

	<p>Iðulega þarf ekki nema netfang til staðfestingar í undirskriftasöfnunum á netinu, en með því að nýtast við Íslykilinn tryggjum við að hver einstaklingur sé raunverulega sé sem hann segist vera.</p>

	<h3>Teymið</h3>
	<ul>
	    <li><a href="mailto: tomas@piratar.is">Tómas Árni Jónasson</a>, forritun</li>
	    <li><a href="mailto: helgi@piratar.is">Helgi Hrafn Gunnarsson</a>, forritun</li>
	    <li><a href="mailto: james@piratar.is">James Robb</a>, verkefnastjórnun og forritun</li>
	    <li><a href="mailto: svafar@piratar.is">Svafar Helgason</a>, hönnun og útlit</li>
	    <li><a href="mailto: bjorn@piratar.is">Björn Þór Jóhannesson</a>, kerfisrekstur</li>
	</ul>

</div>

{% endblock %}
