{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}

{% block content %}

<!-- It makes no sense to translate this manually. -->

<div id="about_us_wrapper" class="container-fluid">

	<h2>Hvað er Öryggisventill?</h2>
	<p>Öryggisventill er hugbúnaður úr hugsmiðju <a target="_blank" href="http://piratar.is">Pírata</a> sem veitir einfalda og örugga leið til undirskriftasafnana gegn lagafrumvörpum sem lögð hafa verið fram á yfirstandandi þingi Alþingis.</p>

	<p>Verkefnið er liður í baráttu Pírata fyrir lýðræðisvæðingu á Íslandi.</p>

	<h2>Svona virkar Öryggisventill</h2>
	<p>Öryggisventill safnar sjálfkrafa gögnum um lagafrumvörp sem hafa verið lögð fram á yfirstandandi þingi. Almenningi gefst því kostur á að hefja undirskriftasöfnun gegn setningu hverra laga um leið og umræða um þau birtast á vef Alþingis.</p>

	<p>Ef notandi vill skrifa undir mótmæli gegn lögum smellir hann á takkann "Bæta við undirskrift" og staðfestir skráningu sína með svokölluðum <a href="http://www.island.is/islykill/">Íslykli</a>, en hann er meðal annars notaður til að skila skattaskýrslum.</p>

	<p>Eigi notandi ekki nú þegar Íslykil má fá slíkan sendan í heimabanka á <a target="_blank" href="https://innskraning.island.is/Order.aspx">skráningarsíðu Íslands.is</a>. Hægt er að fá Íslykil sendan í bréfpósti handa þeim sem hafa þolinmæði í stað heimabanka.</p>

	<h2>Hví þarf auðkenningu við hverja undirskrift?</h2>
	<p>Til þess að tryggja trúverðugleika hverrar undirskriftar þurfum við svokallaðan "tóka" frá <a target="_blank" href="http://island.is">Íslandi.is</a> við auðkenningu, en hann er einskonar kvittun fyrir auðkenningu sem við notum til að sanna lögmæti hverrar undirskriftar. Þó þarf ekki að auðkenna sig sérstaklega til þess að afmá undirskrift ef maður hefur þegar auðkennt sig inn í kerfið.</p>

	<h2>Um Íslykil</h2>
	<p>Íslykill er opinber raflykill til undirritunar opinberra skjala, til dæmis við skráningu í trú- og lífsskoðunarfélag og skilum á skattaskýrslum. Með því að nota þessa tækni er okkur kleift að öðlast lögmæti við rafræna undirskriftasöfnun sem áður var ekki möguleg.</p>

	<p>Iðulega þarf ekki nema netfang til staðfestingar í undirskriftasöfnunum á netinu, en með því að nýta Íslykilinn tryggjum við að hver einstaklingur sé raunverulega sá sem hann segist vera.</p>

	<br />
	<h2>Teymið</h2>

	<h3><a href="mailto: tomas@ventill.is">Tómas Árni Jónasson</a>: forritun</h3>
	
	<p>Tómas Árni Jónasson, fæddur 6. september 1985 þeim Sigríði Ragnarsdóttur og Jónasi Tómassyni. Bjó frá unga aldri á Ísafirði þar sem ég nam píanóleik hjá móður minni á meðan ég lauk grunn- og framhaldsskólanámi. Var einnig mjög virkur í leiklistarstarfi í fjölmörg ár, bæði sem leikari og leikstjóri. Varð snemma hrifinn af tölvutækni og byrjaði fyrst að skrifa hugbúnað við fermingaraldur.</p>

	<p>Fluttist í höfuðborgina til þess að nema hugbúnaðarverkfræði og hátæknieðlisfræði við Háskóla Íslands. Hef unnið að rannsóknarvinnu hjá Háskóla Íslands og CERN, en einnig hjá Landsbankanum, Já.is og nýsköpunarfyrirtækjunum Gogoyoko og CLARA.</p>

	<h3><a href="mailto: helgi@ventill.is">Helgi Hrafn Gunnarsson</a>: forritun og kerfisrekstur</h3>

	<p>Fæddur 22. október 1980 í Reykjavík. Var dæmdur til fjögurra ára setu á Alþingi vorið 2013. Hef annars starfað sem forritari frá aldamótum, stundum meðfram kerfisstjórnun, ýmist hérlendis, í Finnlandi eða Kanada.</p>

	<h3><a href="mailto: james@ventill.is">James Robb</a>: verkefnastjórnun og forritun</h3>

	<p>I was born on the 18th of December, 1989 in Winnipeg, Canada. I had lived the majority of my life in my hometown before moving to Reykjavik. I have always had a strong passion for technology and software development since I can remember. Being someone that is largely self taught via the internet, I can't help but feel my professional and personal success is largely due to the generosity of others donating their knowledge and time to the global collective. I choose to contribute to the open source community where I can to empower people wherever possible, as my way of giving back.</p>

	<p>When I am not hitting the keyboard, I can be found playing with motorcycles, learning icelandic, and enjoying the company of my friends.</p>

	<h3><a href="mailto: svafar@ventill.is">Svafar Helgason</a>: hönnun og útlit</h3>

	<p>Ég bjó á uppvaxtarárum mínum hér og þar í Bandaríkjunum, Washington State, Louisiana, Arkansas, Kaliforníu. Geri mér ferð þangað eins oft og ég get enn þann dag í dag.Útskrifaðist úr grafískri miðlun frá Tækniskólanum í Reykjavík árið 2010. Árið 2012 vann ég fyrir útgáfufyrirtækið Land &amp; Saga sem umbrotsmaður. Árið 2013 gerðist ég kynningarstjóri kosningabaráttu Pírata fyrir alþingiskosningar.</p>

	<p>Meðal áhugamála eru tjaldferðalög, stjórnmál, kvikmyndagláp, teiknimyndasögur, borðspil og samlokugerð</p>

	<h3><a href="mailto: bjorn@ventill.is">Björn Þór Jóhannesson</a>: kerfisrekstur</h3>

	<p>Ég hef unnið sem fagmaður við upplýsingatækni frá 1999. Áhugamennska á tölvutækni vaknaði talsvert fyrr. Starfaði frá 1999 -2005 hjá Tæknival en stofnaði eigin rekstur 2005 undir nafni Innranet ehf. og starfa í dag sem  framkvæmdarstjóri og ráðgjafi í Upplýsingatækni hjá Innranet ehf.</p>
 
	<p>Útskrifaðist sem kerfisfræðingur RI árið 2000. Einnig hef ég tekið ýmsar alþjóðlegar viðurkenndar gráður. Þar með talið MCSA, Comptia A+, Comptia Network+ o.fl.</p>

	<h3><a href="mailto: thorgnyr@ventill.is">Þórgnýr Thoroddsen</a>: textavinna</h3>

	<p>Ég er fæddur þann 25. mars 1982 og ólst upp í norðurmýri Reykjavíkur. Hef í gegnum tíðina fundið mér ýmislegt til dundurs, svo sem að vinna sem kvikmyndagerðarmaður í klippingu og eftirvinnslu, leitað að földum fjársjóðum í Víetnam, farið í framboð til stjórnlagaráðs, alþingis og nú borgarstjórnar, klippt umdeilt myndband fyrir wikileaks, komið að stofnun stjórnmálaaflsins Pírata, haldið utan um Frívegginn á Frakkastíg, verið tilnefndur til Eddunnar og setið í stjórn fjölmargra félaga. Undanfarin misseri hef ég verið virkur bæði innan Pírata, í Samtökum um Bíllausan Lífsstíl og íbúasamtökum miðbæjarins.</p>

	<p>Þessa stundina er ég að hjálpa til við gerða síðu sem ber heitir Öryggisventill, ventill.is. Gott stöff.</p>

	<p>Giftur konu og ketti og nýt þeirrar blessunar að eiga þriggja ára stelpu sem er rauðhærð. Hún er líka fremur gott stöff.</p>
	
</div>

{% endblock %}