{% load i18n %}
<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    {% block extra_meta %}
    {% endblock %}

    <title>Öryggisventill - {% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}petition/css/fonts.css" rel="stylesheet">
    <link href="{{STATIC_URL}}petition/css/styles.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>

    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    {% block javascript %}
    {% endblock %}

    <!-- Globally translatable strings for JavaScript -->
    <div style="display: none;">
        <div id="msg_are_you_sure">{% trans 'Are you sure?' %}</div>
    </div>

  </head>

  <body>

      {% if request.META.SERVER_NAME !=  'ventill.is' and request.META.SERVER_NAME !=  'www.ventill.is' %}
        <a href="/?fake-auth={% if request.session.fake_auth %}off{% else %}on{% endif %}"
           id="fake-auth-link">Fake auth: {% if request.session.fake_auth %}on{% else %}off{% endif %}</a>
          <style>
            #fake-auth-link {
              position: absolute;
              right: 0;
              top: 0;
              z-index: 999;
              color: #F00;
              padding: 4px 6px;
              background-color: #AA0;
            }
          </style>
      {% endif %}

      <div id="left-panel">
      {% if user.is_authenticated %}
        <div class="person_info">
          <label>{% trans 'Signed-in user' %}</label>
          {{ user.first_name }}<br />
          <small>{{ user }}</small><br /><br />
        </div>
      {% endif %}
        <div class="container-fluid">

          <div class="row-fluid">
            <div class="span12">
              <h1>ÖRYGGISVENTILL</h1>
              <img src="{{STATIC_URL}}petition/img/logo.png" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12">
              <ul>
                <li><a href="/">{% trans 'Home' %}</a></li>
                <li><a href="/about-us/">{% trans 'About Us' %}</a></li>
                <li><a href="#">{% trans 'Contact Us' %}</a></li>
                <li><a href="/person/signatures/">{% trans 'My Signatures' %}</a></li>
                <li><a href="/petition/popular/">{% trans 'Most Popular' %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="/person/logout/">{% trans 'Sign out' %}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div id="right-panel">
        <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>
      </div> <!-- /container -->



  </body>

</html>
