{% extends "base.html" %}

{% block javascript %}
{{block.super}}
    <script src="{{STATIC_URL}}petition/js/petition.js" type="text/javascript"></script>
{% endblock %}

{% block extra_meta %}
		<meta property="og:title" content="{{ petition.name }}" />
{% endblock %}

{% block title %}
	{{ petition.name }}
{% endblock %}

{% block content %}


<!-- Temporary CSS -->
<style type="text/css">

div.description {
    border: 1px solid #000000;
    padding-left: 24px;
    padding-right: 24px;
    margin: 24px;
    width: 800px;
}

</style>

	<div>

        {% if already_signed %}
            <div class="petition_already_signed">
                Þú hefur þegar skrifað undir mótmæli gegn þessu lagafrumvarpi.
            </div>
            {% with p=petition %}
                {% include 'stub/unsign_button.html' %}
            {% endwith %}
        {% else %}
            {% with p=petition %}
                {% include 'stub/sign_button.html' %}
            {% endwith %}
        {% endif %}

        <table class="petition_signatories">
            <tr>
                <th class="username">Kennitala</th>
                <th class="fullname">Fullt nafn</th>
                <th class="timing">dag./mán./ár</th>
            </tr>
            {% for s in signatures %}
                {% if s.show_public %}
                    <tr class="user">
                        <td class="username">{{ s.user.username }}</td>
                        <td class="fullname">{{ s.user.first_name }}</td>
                        <td class="timing">{{ s.date_created|date:'d/m/Y' }}</td>
                    </tr>
                {% else %}
                    <tr class="user">
                        <td class="username">[ fali&eth; ]</td>
                        <td class="fullname">[ fali&eth; ]</td>
                        <td class="timing">{{ s.date_created|date:'d/m/Y' }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

		<div class="petition_detail">
			<h1>{{ petition.name|capfirst }}</h1>
            <small>
                {{ petition.description }}<br />
    			útbýtt: {{ petition.timing_published|date:"DATE_FORMAT"|title }}
            </small>

			<div class="description">
                {{ petition.content|safe }}
			</div>

            {% if not already_signed %}
                {% with p=petition %}
                    {% include 'stub/sign_button.html' %}
                {% endwith %}
            {% else %}
               {% with p=petition %}
                    {% include 'stub/unsign_button.html' %}
                {% endwith %}
            {% endif %}
		</div>
	</div>
{% endblock %}
