{% extends "base.html" %}

{% block extra_meta %}
		<meta property="og:title" content="{{ petition.name }}" />
{% endblock %}

{% block title %}
	{{ petition.name }}
{% endblock %}

{% block content %}
	<div>
		<div class="petition_detail">
			<h1>{{ petition.name|capfirst }}</h1>
			bætt við þann: {{ petition.date_created|date:"DATE_FORMAT"|title }}

			<div class="description">
                {{ issue_content|safe }}
				{{ petition.description|safe }}
			</div>

			<a class="sign" href="sign/">Sign</a>
		</div>
	</div>
{% endblock %}
