{% extends "base.html" %}

{% block extra_meta %}
		<meta property="og:title" content="{{ petition.name }}" />
{% endblock %}

{% block title %}
	{{ petition.name }}
{% endblock %}

{% block content %}


<!-- Temporary CSS -->
<style type="text/css">

div.description {
    border: 1px solid #000000;
    padding-left: 24px;
    padding-right: 24px;
    margin: 24px;
    width: 800px;
}

</style>

	<div>
        {% if already_signed %}
            <div class="petition_already_signed">
                Þú hefur þegar skrifað undir mótmæli gegn þessu lagafrumvarpi.
            </div>
        {% endif %}
		<div class="petition_detail">
			<h1>{{ petition.name|capfirst }}</h1>
            <small>
                {{ petition.description }}<br />
    			útbýtt: {{ petition.timing_published|date:"DATE_FORMAT"|title }}
            </small>

			<div class="description">
                {{ petition.content|safe }}
			</div>

			<a class="sign" href="sign/">Sign</a>
		</div>
	</div>
{% endblock %}
