{% extends "base.html" %}
{% load i18n %}

{% block title %}Heim{% endblock %}

{% block javascript %}
{{block.super}}
    <script src="{{STATIC_URL}}petition/js/petition.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}petition/js/jquery.sharrre.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  
  <div class="container-fluid petition_list">
  {% for p in petitions %}

    <div class="row-fluid petition_list_item">

      <div class="span12">

        <a class="petition_title" href="/frumvarp/{{ p.id }}/"><h2>{{ p.name|capfirst }}</h2></a>

        <div class="details">

          <p>
            {{ p.description }}&nbsp;
          </p>

          <div class="detail">
            <div class="icon"><i class="fa fa-check-square"></i><span class="detail_figure">{{p.num_signatures}}</span></div>
          </div>

          <div class="detail">
            <span class="detail_figure">{% trans 'Published On' %}: {{p.time_published|date:"d. b o"}}</span>
          </div>

          <div class="detail">
            <div class="fb_share" data-url="{{instance_url}}/frumvarp/{{ p.id }}/" data-text="Áfram hjá þetta!" data-title="Like"></div>
          </div>

          <div class="detail">
            <div class="twitter_share" data-url="{{instance_url}}/frumvarp/{{ p.id }}/" data-text="Áfram hjá þetta!" data-title="Tweet"></div>
          </div>

<!--           <div class="detail">
            <a href="{{p.url_twitter_share}}" target="_blank" class="share_icon"><i class="fa fa-twitter-square"></i><span class="share_total">[[TWITTER_TOTAL]]</span></a>
          </div> -->

<!--           <div class="detail">
            <a href="{{p.url_googleplus_share}}" target="_blank" class="share_icon"><i class="fa fa-google-plus-square"></i></a>
          </div> -->
          
          <div class="detail">
          {% if p.id in signed_petition_ids %}
            {% include 'stub/unsign_button.html' %}
          {% else %}
            {% include 'stub/sign_button.html' %}
          {% endif %}
          </div>

        </div>

      </div>

    </div>

	{% endfor %}
  </div>

{% endblock %}
