{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans page_title %}{% endblock %}

{% block javascript %}
{{block.super}}
    <script src="{{STATIC_URL}}petition/js/petition.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}petition/js/jquery.sharrre.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  
  <div class="container-fluid petition_list">

  {% if pages|length > 1 %}
    <div id="page_numbers">
    {% for p in pages %}

      {% if p == '...' %}
        <div class="page_number_separator"><div></div><div></div><div></div></div>
      {% else %}
        <a class="page_number{% ifequal p current_page %} selected{% endifequal %}" href="?page={{p}}">{{p}}</a>
      {% endif %}

    {% endfor %}
    </div>
  {% endif %}

  {% for p in petitions %}

    <div class="row-fluid petition_list_item">

      <div class="span12">

        <a class="petition_title" href="/frumvarp/{{ p.id }}/"><h2>{{ p.name|capfirst }}</h2></a>

        <div class="details">

          <p>
            {{ p.description }}&nbsp;
          </p>

          <div class="detail" title="{%trans 'Signatures' %}">
            <div class="icon"><i class="fa fa-check-square"></i><span class="detail_figure">{{p.num_signatures}}</span></div>
          </div>

          <div class="detail" >
            <span class="detail_figure">{% trans 'Published On' %}: {{p.time_published|date:"d. b o"}}</span>
          </div>

          <div class="detail share_detail" title="{%trans 'Facebook Likes' %}">
            <div class="fb_share" data-url="{{instance_url}}/frumvarp/{{ p.id }}/?r={% now "si" %}" data-text="{% trans 'I oppose this! Add your name now!' %}" data-title="Like"></div>
          </div>

          <div class="detail share_detail" title="{%trans 'Twitter Shares' %}">
            <div class="twitter_share" data-url="{{instance_url}}/frumvarp/{{ p.id }}/" data-text="{% trans 'I Oppose This! Add your name now!' %}" data-title="Tweet"></div>
          </div>

<!--           <div class="detail">
            <a href="{{p.url_twitter_share}}" target="_blank" class="share_icon"><i class="fa fa-twitter-square"></i><span class="share_total">[[TWITTER_TOTAL]]</span></a>
          </div> -->

<!--           <div class="detail">
            <a href="{{p.url_googleplus_share}}" target="_blank" class="share_icon"><i class="fa fa-google-plus-square"></i></a>
          </div> -->

        </div>

        {% if p.id in signed_petition_ids %}
          {% include 'stub/unsign_button.html' %}
        {% else %}
          {% include 'stub/sign_button.html' %}
        {% endif %}

      </div>

    </div>

	{% endfor %}

    <div id="msg_sure" style="display:none;">{% trans 'Are you sure' %}?</div>

  </div>

{% endblock %}
