<!DOCTYPE html>
    
    <body>

        <div style="color: #000000; width: 550px;">
            <img alt="Öryggis Ventill" src="https://www.ventill.is/static/core/img/email_logo.jpg" />
            
            <div style="background-color: #FFFFFF; padding: 25px;">
                <p>
                    Sæl(l) %(name)s!<br />
                    Takk fyrir að nota kerfið okkar. Hér með staðfestist að þú hafir skrifað undir eftirfarandi lög með tókanum %(token)s frá island.isbackground-color: #3c4366; :
                </p>
            </div>

            <div style="background-color: #3c4366; border-top: 8px solid #241742; height: 40px; text-align: center;">
                %(title)s
            </div>
            
            <div>
                <blockquote style="background-color: #ebebeb; color: #000000; padding: 0; margin: 0;">
                    %(text)s
                </blockquote>
            </div>

            <p>
                Með kveðju,<br/>
                Ventill.is
            </p>
        </div>

    </body>

</html>