<div style="background-color: 3B4265; color: c2c2c2;">
    <p>
        {% trans 'Dear %(name)s!' %}Sæl(l) %(name)s!
    </p>
    <p>
        {% trans 'Thank you for using our system. We hereby confirm you've removed your signature for the following petition(s): %}Takk fyrir að nota kerfið okkar. Hér með staðfestist að þú hafir fjarlægt undirskrift fyrir eftirfarandi undirskriftalista:
    </p>
    <blockquote style="background-color: #fff; color: black;">
        %(text)s
    </blockquote>
    <p>
        {% trans 'Best regards,' %}Með kveðju,<br/>
        Ventill.is
    </p>
</div>

