<!DOCTYPE html>
    
    <body>

        <div style="color: #000000; width: 650px; padding: 0; margin: 0;">

            <div style="height: 82px; width: 650px; background-color: #241742; padding: 0; margin: 0;">
                <img style="color: #FFFFFF; font-size: 25px; line-height: 82px;" alt="Öryggis Ventill" src="https://www.ventill.is/static/core/img/email_logo.jpg" />
            </div>
            
            <div style="background-color: #FFFFFF; padding: 25px;">
                <p>
                    Sæl(l) %(name)s!<br />
                    Takk fyrir að nota kerfið okkar. <br /><br />

                    Undirskriftasöfnunin gegn þingmálinu finnst hér: <br />
                    <a href="%(detail_url)s">%(detail_url)s</a><br /><br />

                    Hér með staðfestist að þú hafir fjarlægt undirskrift þína gegn eftirfarandi þingmáli:

                    <a href="%(detail_url)s">%(detail_url)s</a>
                </p>
            </div>

            <div style="background-color: #3c4366; border-top: 8px solid #241742; min-height: 40px; line-height: 40px; text-align: center; color: #FFFFFF; font-size: 17px; margin: 0;">
                %(title)s
            </div>
            
            <div style="padding: 0; margin: 0; background-color: #ebebeb;">
                <blockquote style="background-color: #ebebeb; color: #000000; width: auto; padding: 30px 25px; margin: 0; overflow: hidden;">
                    %(text)s
                </blockquote>
            </div>

            <div style="background-color: #3c4366; height: 40px; line-height: 40px; text-align: center; color: #FFFFFF; font-size: 15px;">
                Með kveðju, <a href="ventill.is" style="color: #FFFFFF;">ventill.is</a>
            </div>

        </div>

    </body>

</html>
