{% load i18n %}

<div class="signature_container" data-id="{{p.id}}">
    <div class="pre_selection_container">
        <div class="signature_button addremove_signature">
            <i class="fa fa-pencil-square"></i> {% trans 'Add Signature' %}
        </div>
    </div>

    <div class="post_selection_container">
        <label for="show_public_{{ p.id }}">{% trans 'Show signature publicly' %}?</label>
        <input type="checkbox" class="show_public" id="show_public_{{ p.id }}" value="1" checked="checked" />

        <div class="signature_button_separator"></div>
        <div class="signature_button confirm_signature_button addremove_signature">
            <i class="fa fa-check-circle"></i> {% trans 'Confirm Signature' %}
        </div>

        <div class="signature_button_separator"></div>
        <div class="signature_button cancel_signature_button signature_cancel">
            <i class="fa fa-times-circle"></i> {% trans 'Cancel' %}
        </div>
    </div>
</div>

