html, body {
	height: 100%;
	font-size: 16px;
}

/* GLOBAL ELEMENTS -------- */

#left-panel {
	width: 250px;
	height: 100%;

	font-size: inherit;
	text-align: center;

	padding-top: 95px;
	position: fixed;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  

	background-image: linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -o-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -moz-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -webkit-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -ms-linear-gradient(bottom, #231641 0%, #3B4265 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #231641),
		color-stop(1, #3B4265)
	);
}

#left-panel h1 {
	font-family: 'fairviewregular';
	color: #FFFFFF;
	font-weight: normal;
	font-size: 2em;
	line-height: .85em;

	margin-bottom: 0;
	margin-top: 0;

	opacity: 0.7;
}

#left-panel ul {
	list-style-type: none;

	padding: 0;
	margin: 40px 0 0 0;
}

#left-panel ul li {
	padding: 10px 0;
}

#left-panel ul li a {
	color: #FFFFFF;
	font-family: 'klinic_slabbold';
	font-size: 1.2em;
	text-transform: uppercase;

	opacity: 0.6;
}

#left-panel ul li a:hover {
	text-decoration: none;

	opacity: 0.75;
}

#right-panel:before { /* for the background image */
	content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/escheresque.png); 
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -9999;
}

#right-panel {
	padding: 64px 0 100px 64px;
	margin-left: 250px;
}

#right-panel > .container-fluid {
	padding: 0;
}

#right-panel .row-fluid [class*="span"] { 
	margin:0;
}

#right-panel .row-fluid .span1 {
	width: 8.3334%;
}

#right-panel .row-fluid .span11 {
	width: 91.6666%;
}

/* END GLOBAL ELEMENTS ---- */

a, a:active, a:focus {
  outline: none;
  -moz-outline-style: none;
}

a:hover {
	cursor: hand;
}

/* START - Petition list */
.petition_item {
	border: 2px solid #D7D7D7;
	border-right: none;
	border-bottom: none;

	padding: 15px 23px;
}

.row-fluid:last-child .petition_item {
	border: 2px solid #D7D7D7;
}

.petition_item, .petition_item a {
	color: #3C4366;
}

.petition_item .petition_title {
	font-size: 1.4em;
	line-height: 1em;
	font-family: 'klinic_slabbold';

	display: inline-block;
	margin-bottom: 10px;
}

.petition_item .details {
	font-size: .8em;
}

.petition_item .details a.share_icon, a.share_icon:hover {
	font-size: 2.5em;
	text-decoration: none;

	vertical-align: -.2em;
}
/* END - Petition list */

.note {
    border: 1px solid #aaaa88;
    text-align: center;
    background: #ffffaa;
    display: block;
    max-width: 500px;
    padding: 24px 24px;
    text-align: center;
}

/* START - Sign/Unsign buttons */
a.addremove_signature {
	margin: 5px 0;
	cursor: pointer;
}

a.signature_cancel {
    cursor: pointer;
    text-decoration: none;
}

.unsign {
    color: #a0a0a0 !important;
}

.unsign a {
    color: #a0a0a0 !important;
}

i.icon-pencil {
	font-size: 2em;
}

.signature_container {
    width: 220px;
    border: 1px solid #e0e0e0;

    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 8px;

    font-family: 'klinic_slabbook';
    font-size: .8em;

    color: #3C4366;
}

.signature_container a {
    color: #3C4366;
}

.signature_container label {
    font-family: 'klinik_slabbook';
    font-size: .7em;
    display: inline;
}

.signature_container .show_public_container {
    padding-left: 24px;
}

a.addremove_signature:hover, a.addremove_signature:focus, a.addremove_signature:visited {
	text-decoration: none;
}
/* END - Sign/Unsign buttons */

.petition_item .details .date_created, .petition_item .details .num_signatures, .petition_item .details .share {
	font-family: 'klinic_slabbook_italic';
	text-align: middle;
}

/* START - Informational text pages */
div.longtext {
    width: 600px;
    text-align: justify;
}
div.longtext h3 {
    font-family: 'klinik_slabbook';
    margin: 0px;
}
div.longtext p {
    font-family: 'klinik_slabbook';
    margin-bottom: 1.2em;
}
div.longtext li {
    font-family: 'klinik_slabbook';
}
/* END - Informational text pages */

/* START - Left-side user information */
.person_info {
    position: absolute;
    left: 0px;
    top: 0px;
    color: #f0f0f0;
    width: 250px;
    padding-top: 8px;
    font-size: 0.8em;
}

.person_info label {
    font-size: 1em;
    margin-bottom: 0px;
    font-weight: bold;
}
/* END - Left-side user information */

/* --- Signatures --------------------------------------------------------- */


.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

th .subheader {
    font-size: 75%;
}

/* START - User listing in petition */
.datatable {
    border: 1px solid #a0a0a0;
}
.datatable th {
    font-size: .8em;
    background: #ffffff;
    border-left: 1px dotted #a0a0a0;
    padding: 2px 6px 2px 6px;
}
.datatable th.username {
    text-align: center;
}
.datatable th.timing {
    text-align: center;
}
.datatable td {
    font-size: .8em;
    border: 1px solid #a0a0a0;
    padding: 2px 6px 2px 6px;
}
.datatable td.username {
    text-align: center;
}
.datatable td.fullname {
    width: 31em;
}
.datatable td.timing {
    text-align: center;
}
.datatable span.button {
    font-family: fixed;
    font-size: .9em;
    color: #000000;
}
.datatable span.button a {
    color: #336699;
}
/* END - User listing in petition */

/* START - Petition details */
.petition_detail {
    width: 800px;
}

.petition_detail h2 {
    margin: 0px;
}

.petition_detail .description {
    margin: 0px;
    font-size: .8em;
    font-style: italic;
}

.petition_detail .distributed {
    margin: 0px;
    font-size: .8em;
}

.petition_detail .content {
    border: 1px solid #000000;
    padding: 48px;
}
/* END - Petition details */

