html, body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}
#footer {
	background-color: #181818;
	color: #FFFFFF;
}

#wrap > .container {
	padding-top: 60px;
}

a, a:active, a:focus {
  outline: none;
  -moz-outline-style: none;
}

a:hover {
	cursor: hand;
}

.petition_item h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	display: inline-block;
}

.petition_item .details {
	font-size: .75em;
}

.petition_item .details a.share_icon, a.share_icon, a.share_icon:hover {
	font-size: 2.5em;
	text-decoration: none;
}

a.addremove_signature {
	font-size: .85em;
	cursor: hand;
}

a.addremove_signature i {
	font-size: 2em;
}

a.addremove_signature:hover, a.addremove_signature:focus, a.addremove_signature:visited {
	text-decoration: none;
}

.petition_detail h1 {
	font-size: 1.95em;
}