body {
	background-image: url(/static/core/img/escheresque.png);
}

#wrapper {
	padding-left: 215px;
	padding-right: 60px;

	max-width: 1600px;
}

#content {
	width: auto;
}

/* ---- NAVIGATION STYLES -------------------------------------------------- */

#nav {

	height: 100%;
	width: 215px;

	font-size: inherit;
	text-align: center;

	position: fixed;
	top: 0;
	left: 0;

	color: #FFFFFF;

	padding-top: 65px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  

	background-image: linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -o-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -moz-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -webkit-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -ms-linear-gradient(bottom, #231641 0%, #3B4265 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #231641),
		color-stop(1, #3B4265)
	);
}

#right_panel {

	height: 100%;
	width: 60px;

	font-size: inherit;
	text-align: center;

	position: fixed;
	top: 0;
	right: 0;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  

	background-image: linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -o-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -moz-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -webkit-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -ms-linear-gradient(bottom, #231641 0%, #3B4265 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #231641),
		color-stop(1, #3B4265)
	);
}

#wrapper .navbar-inner {
	background-image: linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -o-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -moz-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -webkit-linear-gradient(bottom, #231641 0%, #3B4265 100%);
	background-image: -ms-linear-gradient(bottom, #231641 0%, #3B4265 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #231641),
		color-stop(1, #3B4265)
	);
}

#nav h1, #mobile_nav .brand {
	font-family: 'fairviewregular';
	color: #FFFFFF;
	font-weight: normal;
	font-size: 32px;
	line-height: .85em;

	margin-bottom: 0;
	margin-top: 0;

	opacity: 0.95;

	text-transform: uppercase;
}

#mobile-nav .brand {
	font-size: 1.5em;
}

#nav ul {
	list-style-type: none;

	padding: 0;
	margin: 40px 0 0 0;
}

#nav ul li {
	padding: 10px 0;
}

#nav ul li a {
	color: #FFFFFF;
	font-family: 'klinic_slabbold';
	font-size: 1.2em;
	text-transform: uppercase;

	opacity: 0.6;
}

#nav ul li a:hover {
	text-decoration: none;

	opacity: 0.9;
}

#current_user {
	width: auto;
	height: 47px;

	background-color: #f4f4f4;
	border-bottom: 5px solid #57557b;

	color: #;
}
/* ---- END NAVIGATION STYLES ---------------------------------------------- */



/* ---- PETITION LISTING STYLES -------------------------------------------- */
.petition_list {
	padding-top: 65px;
	padding-bottom: 65px;
}
.petition_list_item {
	border-top: dotted;
	border-color: #b3b3b3;
	border-width: 3px;

	min-height: 150px;
}

.petition_list_item:last-child {
	border-bottom: dotted;
	border-color: #b3b3b3;
	border-width: 3px;
}

.petition_list_item .details {
	margin-left: 80px;
	color: #3b4265;
	font-size: 14px;
	font-family: 'klinic_slabbook_italic';
}

.petition_list_item .details p {
	font-family: 'klinic_slabbook';
	color: #3b4265;
	font-size: 16px;

	margin-top: 5px;
}

.petition_list_item .details .share_icon {
	font-size: 26px;
	color: #56547a;

	margin-right: 2px;
}

.petition_list_item .details .share_icon:hover {
	text-decoration: none;
}

.petition_list_item h2 {
	font-family: 'klinic_slabbold';
	font-size: 1.6em;
	font-weight: normal;
	color: #56547a;
}

.heat_meter {
	width: 80px;
	text-align:  center;

	float: left;
}

.heat_meter_count {
	font-family: 'fairviewregular';
	font-size: 1.9em;
	color: #3C4366;
}

.heat_bar {
	background-color: #b62d2e;
	width: 20px;
	height: 3px;

	margin: 0 auto 2px auto;
}

.signature_container, .pre_selection_container {
	color: #3b4265; 
	display: inline;
}

.pre_selection_container a, .pre_selection_container a:hover {
	cursor: pointer;
	color: #3b4265;
	font-family: 'klinic_slabbook_italic';
}

.pre_selection_container a i, .pre_selection_container a:hover i {
	font-size: 26px;
	text-decoration: none;
	font-style: normal;
}

.post_selection_container {
	color: #3C4366; 
	font-family: 'klinic_slabbook_italic';
}


/* ---- END PETITION LISTING STYLES ---------------------------------------- */


/* ---- PETITION DETAIL STYLES --------------------------------------------- */
#petition_detail_panel {
	height: 60px;

	background-color: #efeee8;

	border-bottom: 5px solid #57557b;
	border-width: 5px;

	margin-bottom: 5px;
}

.petition_detail .title_span h2 {
	text-align: center;
	font-family: 'klinic_slabbold';
	font-size: 34px;
	font-weight: normal;
	color: #57557b;
}

.petition_detail .published {
	font-family: 'klinic_slabbook_italic';
	text-align: center;
	color: #57557b;
	font-size: 14px;

	padding: 10px 0 15px 0;
}

.petition_detail .petition_description {
	font-family: 'klinic_slabbold_italic';
	text-align: center;
	color: #57557b;
	font-size: 20px;
}

.petition_detail .separator {
	border-top: dotted;
	border-color: #b3b3b3;
	border-width: 3px;
}

.petition_detail .petition_content {
	background-color: #efefef;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;

	padding: 45px 60px 45px 60px;
	margin-bottom: 50px;

	font-family: 'klinic_slabbook';
	color: #231641;
	font-size: 16px;
}
/* ---- END PETITION DETAIL STYLES ----------------------------------------- */

@media only screen and (max-width: 979px) {
	#wrapper {
		padding: 0;
	}

	body {
		padding: 0;
		background-color: #111111;
	}
}

body {
	padding: 0;
	margin: 0;
}