{% extends "base.html" %}
{% load i18n %}

{% block title %}
    Remove signature
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span1">
            &nbsp;
        </div>
        <div class="span11 petition_detail">
            <h1>Remove signature</h1>

            <p>
                {% include 'person/_remove_signature__text.html' %}
            </p>
            <a href="?answer=yes&next={{next|iriencode}}">Yes</a>
            <a href="{{next}}">No</a>
        </div>
    </div>
{% endblock %}